button
{
    background-color: #FFFFFF; /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 4px;
	width: 100;
	background-image: linear-gradient(#FFFFFF, #CACACA);
}

.BtnSalir
{
	background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 4px;
	width: 10%;
	background-image: linear-gradient(#FFFFFF, #CACACA);
}

p
{
	color: white;
	font-size: 26px;
}

input[type=password], select
{
    width: 25%;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	background-color: #000096;
	text-align: center;
	font-size: 25px;
}

.button
{
	/*background-color: #cecece;*/
	background-image: linear-gradient(#FFFFFF, #CACACA);
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.claro
{
	background-color: #74a6f7;
}

.BotonRedondo
{
	background-image: linear-gradient(#FFFFFF, #CACACA);
    border: none;
    color: black;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
	width: 200px;
}

.Gradiente
{
	background-image: linear-gradient(#25A9E0, #204F83);
}

html
{
	height: 100%;
}

footer
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000096;;
   color: white;
   text-align: center;
}

.Tablita
{
    border-collapse: collapse;
    width: 50%;
	margin: auto;
}

.Separador
{
	border-bottom: 1px solid #ddd;
}

text
{
	color: white;
	font-size: 30px;
	text-align: left;
}